<div class="fornecedor">
    <div class="heading">
        Dados do Fornecedor
    </div>
    <div class="container">
        <form role="form">
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="FrazaoSocial">Razão Social</label>
                        <input type="text" class="form-control" id="FrazaoSocial">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="FCNPJ">CNPJ</label>
                        <input type="number" class="form-control" id="FCNPJ">
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="FnomeFantasia">Nome Fantasia</label>
                        <input type="text" class="form-control" id="FnomeFantasia">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="FinscricaoEstadual">Inscrição Estadual</label>
                        <input type="text" class="form-control" id="FinscricaoEstadual">
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="FCEP">CEP</label>
                        <input type="number" class="form-control" id="FCEP">
                    </div>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="FinscricaoMunicipal">Inscrição Municipal</label>
                        <input type="text" class="form-control" id="FinscricaoMunicipal">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="Fendereco">Endereço</label>
                        <input type="text" class="form-control" id="Fendereco">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="Fnumero">Número</label>
                        <input type="number" class="form-control" id="Fnumero">
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="Fcomplemento">Complemento</label>
                        <input type="text" class="form-control" id="Fcomplemento">
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="Fbairro">Bairro</label>
                        <input type="text" class="form-control" id="Fbairro">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="Fmunicipio">Municipio</label>
                        <input type="text" class="form-control" id="Fmunicipio">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="Festado">Estado</label>
                        <input type="text" class="form-control" id="Festado">
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="FnomePessoaContato">Nome da Pessoa de Contato</label>
                        <input type="text" class="form-control" id="FnomePessoaContato">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Ftelefone">Telefone</label>
                        <input type="number" class="form-control" id="Ftelefone">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Femail">E-mail</label>
                        <input type="email" class="form-control" id="Femail">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>